{
    "semi": false,
    "singleQuote": true,
    "trailingComma": "es5",
    "arrowParens": "avoid",
    "endOfLine": "auto",
    "htmlWhitespaceSensitivity": "ignore",
    "vueIndentScriptAndStyle": true,
    "printWidth": 190,
    "indent": 4
}